@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');
// colors
$clear-bg: #69d2e7;
$clear-text: #005997;
$clear-block: #a7dbd8;
$cloudy-bg: #81a8b8;
$cloudy-text: #333333;
